@import "tailwindcss";
@import "@heroui/styles"; 

/* Swiper Custom Dot Indicator */
.custom-swiper-pagination {
  display: flex;
  align-items: center;
  justify-content: center;
}

.custom-swiper-pagination .swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  background-color: #cbd5e1; /* Tailwind slate-300 */
  opacity: 1;
  border-radius: 9999px;
  margin: 0 5px !important;
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.custom-swiper-pagination .swiper-pagination-bullet-active {
  width: 9px;
  height: 9px;
  background-color: #0284c7; /* Tailwind sky-600 */
  box-shadow: 0 0 0 4px rgba(2, 132, 199, 0.25); /* Outer active ring */
}